<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  <title>E-mail</title>
  <link rel="icon" href="../img/logo.png">
  <style>
    .button {
      background-color: #4CAF50;
      border: none !important;
      color: #fff !important;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none !important;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      border-radius: 8px;
      cursor: pointer;
    }
  </style>
</head>

<body bgcolor="#fff" style="color: #000;">
  <div>
    <table class="body-wrap w320">
      <tr>
        <td class="soapbox-title" style="color: #000;">
          Cordial saludo, {{first_name}}.<br><br>{{message}}<br><br>
        </td>
      </tr>
      <tr>
        <td>
          <a href="{{link}}" class="button" target="_blank">Aceptar Solicitud</a>
        </td>
      </tr>
    </table>
    <table class="body-wrap w320" style="padding-top: 20px;">
      <tr>
        <td>
          <img src="cid:firma_cid" alt="Firma Correo" style="height: 90px;">
        </td>
        <td style="color: #004623;">
          {{fir}}
        </td>
      </tr>
    </table>
  </div>
</body>
</html>